/* body */

body {
    background-color:bisque;
    background-image: url(Pictures/headerokapi.jpg);
    background-size: cover;
}



/*--------------header*----------------*/



/*---------main--------------*/

nav ul{
list-style: none;
display: flex;
justify-content: center;
}


/*----------------footer----------------*/
